.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 0.5rem;

}



.register .login {
  padding: 30px;
  border-radius: 25px;
}

.register .login__field {
  position: relative;
}

.register .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.register .screen {
  background: linear-gradient(62deg, #3d6287 0%, #3c6397 100%);
  position: absolute;
  height: 600px;
  width: 360px;
  box-shadow: 0px 0px 24px #5c5696;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
}

.register .screen__content {
  z-index: 1;
  position: relative;
  height: 100%;
}

.register form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

.register a,
.register a:visited {
  color: #fff;
}

.register input[type="text"],
.register input[type="password"],
.register button,
.register textarea {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.register .instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.register .instructions>svg {
  margin-right: 0.25rem;
}

.register .offscreen {
  position: absolute;
  left: -9999px;
}

.register .hide {
  display: none;
}

.register .valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.register .invalid {
  color: red;
  margin-left: 0.25rem;
}

.register .errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.register .line {
  display: inline-block;
}