/* CSS */
.button-85 {
  width: 150px;
  margin: auto;
  background-color: #00cce7;
  color: #000000;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-85:hover {
  background-color: #3fe1f6;
}

.home .title {
  border-radius: 5px;
  border: 5px solid;
  display: inline-block;
  padding: 15px;
  animation: borderFade 8s infinite;
}

.disabled-button {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  pointer-events: none;
}

.slotmachine {
  width: 250px;
}

.blackjackGame {
  width: 250px;
}

.roulette {
  width: 250px;
}

.hilo {
  width: 250px;
}

.balance {
  text-align: right;
  margin-right: 20px;
  color: #fff;
}
