.slot-machine-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 20vh;
  z-index: 0;
}

.reels-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reel {
  margin: 0 4px;
}

.symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  box-sizing: border-box;
}

.symbol {
  width: 20vmin;
  height: 20vmin;
  font-size: 16vmin;
}

.horizontal-win {
  background-color: #4caf50;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}

.win-display {
  padding: 10px;
  margin-top: 20px;
}

.win-message {
  font-size: 1.5rem;
  color: #4caf50;
  animation: blinker 1s linear infinite;
}

.payout-table {
  position: absolute;
  left: 9vw;
  top: 10.3vw;
  width: fit-content;
  background-color: #e9e7e4;
  border-radius: 5px;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.1);
  font-size: 1em;
  font-weight: bold;
  color: #333;
  transition: font-size 0.3s ease, top 0.3s ease, left 0.3s ease;
  z-index: 1000;
}

.slot-machine {
  flex-grow: 1;
}

@media (max-width: 768px) {
  .slot-machine-container {
    flex-direction: column;
  }
  .payout-table {
    left: 3vw;
    top: 10vh;
    font-size: 2em;
  }
}

@media (max-width: 1400px) {
  .payout-table {
    display: none;
  }
}
