.blackjack .title1 {
}

.card {
  width: 100px;
  height: 150px;
  border: 1px solid #000;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.card-suit {
  font-size: 24px;
}

.card-rank {
  font-size: 32px;
}

.deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* Center the deck horizontally */
  align-items: center;
  /* Center the deck vertically */
}

.player-hand,
.dealer-hand {
  display: flex;
  justify-content: center;
  /* Center the hands horizontally */
  align-items: center;
  /* Center the hands vertically */
}

.betting-section button,
.game-controls button {
  margin: 5px;
}

.blackjack {
  margin-top: 0px;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.betting-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.bet-button-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.blackjack p {
  margin-left: 5%;
  margin-right: 5%;
}

.blackjack .rules {
  margin-top: 50px !important;
}
.bet-button {
  padding: 5px 10px;
  margin: 0 5px;
  font-size: 16px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.player-section,
.dealer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  /* Adjust this value for the desired spacing between player and dealer */
}

.player-hand,
.dealer-hand {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  overflow-x: auto;
}

.game-area {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 0px;
}
