@import url("https://fonts.googleapis.com/css?family=Kanit");


html {
  font-family: "Kanit", monospace;
  font-size: 22px;
  color: #000000;
}

body {
  background: linear-gradient(90deg, #c7c5f4, #776bcc);
}