.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.5rem;
}

.login .login {
  padding: 30px;
}

.login .login__field {
  position: relative;
  margin: 20px 0;
}

.login .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login .screen {
  background-color: #1a2c38;
  position: absolute;
  height: 600px;
  width: 360px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}

.login .screen__content {
  z-index: 1;
  position: relative;
  margin: 20px auto;
}

.login form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

.login a,
.login a:visited {
  color: #fff;
}

.login input[type="text"],
.login input[type="password"],
.login button,
.login textarea {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.login .instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.login .instructions > svg {
  margin-right: 0.25rem;
}

.login .offscreen {
  position: absolute;
  left: -9999px;
}

.login .hide {
  display: none;
}

.login .valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.login .invalid {
  color: red;
  margin-left: 0.25rem;
}

.login .errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.login .line {
  display: inline-block;
}

h1{
  color:#f9fafa;
  font-size: 25px;
  font-family:verdana;
}

label[for="username"],
label[for="password"] {
  color: #bec5d6;
  font-size: 20px;
  margin-right: 20px;
  display: inline-block;
  text-align: left;
}

.login__field {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.login__field button {
  width: 150px;
  margin: auto;
  margin-top: 30px;
  background-color: #00cce7;
  color: #000000;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login__field button:hover {
  background-color: #3fe1f6;
}

p {
  color: white;
  font-size: 20px;
}

.outline-text {
  color: #00cce7;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  font-size: 30px;
}

.line {
  margin-top: 10px;
}

.logo-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-left,
.logo-right {
  width: 100px;
  height: auto;
  margin: -30px -50px 0 -50px;
}

.logo-left {
  order: -1;
  z-index: -1;
}

.logo-right {
  order: 1;
  z-index: -1;
}