.roulette-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  width: 100%;
}

.wheel-and-arrow-container {
  position: relative;
  display: inline-block;
}

.roulette-arrow {
  position: absolute;
  font-size: 40px;
  top: 46%;
  left: -7%;
  z-index: 2000;
}
.roulette-wheel {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 5px solid #333;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roulette-number {
  --slice-degree: calc(360deg / 37);
  position: absolute;
  width: 85%;
  height: 40%;
  text-align: center;
  transform: rotate(var(--angle)) translateX(-50%);
}

.roulette-number::after {
  content: attr(data-number);
  display: inline-block;
  color: white;
  font-size: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
}

.red::after {
  background-color: red;
}

.black::after {
  background-color: black;
}

.green::after {
  background-color: green;
}

.spin-button {
  margin-top: 20px;
  z-index: 1000;
  position: relative;
}

.winning-info {
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #333;
  text-align: center;
}

.winning-info.red {
  color: rgb(0, 0, 0);
}

.winning-info.black {
  color: black;
}

.winning-info.green {
  color: rgb(0, 0, 0);
}
