.roulette-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
}

.wheel-and-arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.roulette-wheel {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 5px solid #333;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roulette-arrow {
  position: absolute;
  font-size: 40px; /* Adjust the size as needed */
  top: 35%; /* Centers the arrow vertically */
  left: 35%; /* Negative value to position the arrow outside the wheel */
  z-index: 2000;
}

.roulette-number {
  --slice-degree: calc(360deg / 37);
  position: absolute;
  width: 85%;
  height: 40%;
  text-align: center;
  transform: rotate(var(--angle)) translateX(-50%);
}

.roulette-number::after {
  content: attr(data-number);
  display: inline-block;
  color: white;
  font-size: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
}

.red::after {
  background-color: red;
}

.black::after {
  background-color: black;
}

.green::after {
  background-color: green;
}

.spin-button {
  margin-top: 20px;
  z-index: 1000;
  position: relative;
}

.winning-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.winning-info {
  padding: 10px;
  border: 2px solid #333;
  text-align: center;
  background-color: #e9e7e4;
  border-radius: 5px;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.1);
  max-width: 300px;
}
.winning-info.red,
.winning-info.black,
.winning-info.green {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}

/* Media queries to adjust layout for smaller screens */
@media (max-width: 768px) {
  .roulette-container {
    flex-direction: column;
  }
}
/*Color betting container logic*/
.betting-controls-container-color {
  position: absolute;
  left: 20%; /* Adjust as per your layout */
  top: 30%;
  transform: translateY(-50%); /* To vertically center */
  background-color: #e9e7e4;
  border-radius: 5px;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-size: 1em;
  font-weight: bold;
  color: #333;
  z-index: 1000;
}

.betting-controls-container-color button {
  background-color: #4caf50; /* Green background */
  color: white;
  padding: 10px 15px;
  margin: 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
}
.bet-size-selector-color button:hover {
  background-color: #45a049; /* Darker green background on hover */
}

.bet-size-selector-color p {
  color: #333;
  font-size: 18px;
  margin-top: 10px;
}

/*Number betting container logic*/
.betting-controls-container-number {
  position: absolute;
  left: 5%; /* Adjust as per your layout */
  top: 30.8%;
  transform: translateY(-50%); /* To vertically center */
  background-color: #e9e7e4;
  border-radius: 5px;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-size: 1em;
  font-weight: bold;
  color: #333;
  z-index: 1000;
}

.betting-controls-container-number button {
  background-color: #4caf50; /* Green background */
  color: white;
  padding: 10px 15px;
  margin: 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
}

.bet-size-selector-number button:hover {
  background-color: #45a049; /* Darker green background on hover */
}

.bet-size-selector-number p {
  color: #333;
  font-size: 18px;
  margin-top: 10px;
}

.number-input {
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  text-align: center;
}
