body,
html {
  margin: 0;
  padding: 0;
}

.navbar {
  margin-left: 0;
  padding-left: 0;
  background-color: #333;
  width: 200px;
  height: 100vh;
  font-family: Arial, sans-serif;
  color: #fff;
  padding-top: 0px;
  box-shadow: 10px 0px 10px -10px rgba(0, 0, 0, 0.5);
  transition: width 0.3s;
  overflow: auto;
  left: 0;
  position: fixed;
  top: 5vh;
  z-index: 2;
}

.navbar-brand {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
  border-bottom: 1px solid #444;
  padding-bottom: 10px;
}

.navbar-brand a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.navbar-menu {
  width: 100%;
  transition: width 0.3s;
  overflow: hidden;
}

.navbar-menu ul {
  list-style-type: none;
  padding: 0;
}

.navbar-menu li {
  margin: 15px 0;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navbar-menu li:hover {
  background-color: #444;
}

.navbar-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  display: block;
}

.hamburger-btn {
  font-size: 24px;
  background-color: #272727;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin: 0px;
  border-radius: 5px;
  transition: background-color 0.3s;
  position: fixed; /* Changed from absolute to fixed */
  left: 0;
  top: 0px;
  box-sizing: border-box;
  width: 60px;
  z-index: 3; /* Ensure the z-index is higher than the content but lower or equal to the navbar */
}

.hamburger-btn:hover {
  background-color: #444;
}

.navbar.collapsed {
  width: 60px;
  overflow: hidden;
  transition: width 0.3s;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.top-navbar {
  display: flex;
  justify-content: flex-end;
  background-color: #333;
  padding: 10px 15px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
  width: 100%; /* Make it full width */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-end; /* Logout link on the far right */
  align-items: center;
  padding: 10px 15px;
  background-color: #333; /* Or your chosen color */
  z-index: 1; /* High z-index to ensure it's above other content */
}
.top-navbar a {
  color: #fff;
  margin-left: 15px;
  text-decoration: none;
}

.top-navbar a:hover {
  text-decoration: underline;
}

.menu-list {
  transition: opacity 0.3s;
}

.navbar.collapsed .menu-list {
  opacity: 1;
}

.navbar.expanded .menu-list {
  opacity: 1;
}

.hamburger-btn:active {
  transform: scale(0.9);
}

.top-navbar a:active,
.navbar-menu a:active {
  transform: scale(0.9);
  transition: transform 0.1s;
}

.navbar.collapsed .navbar-menu a span {
  display: none;
}

.navbar.collapsed .navbar-menu a {
  text-align: center;
}

.navbar.collapsed .navbar-menu a .fa {
  display: inline-block;
  margin-right: 0;
}

.menu-list.show span {
  display: inline;
}

.menu-list span {
  display: none;
}
